<nav id="bottom" class="navbar navbar-inverse" role="navigation">	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 ">
				<h1>联系我们</h1>
			</div>
			<div class="col-xs-6 col-sm-4  c-img">
				<img src="/images/weixin.jpg"/>
				<div>
					<a href="http://wei.emsym.com">微信号</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4  c-img">
				<img src="/images/phone.jpg">
				<div><a href="#">fae@emsym.com</a></div>
			</div>
		</div>
		<p class="">
			Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
			<small>
				<a href="http://www.miibeian.gov.cn/">苏ICP备09077265号</a>
				<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
				<span class="credit">customized with <a href="https://github.com/mjhea0/octoplate">Octoplate</a></span>
			</small>
		</p>
	</div>
</nav>
