/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.navbar-nav {
	font-size: 21px
}
@media (min-width: 768px) {
	.navbar-nav li a{
		/* set according logo size */
		padding-top: 30px
	}
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.7);
	background-image: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 57px 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

#main {
  max-width: 1000px;
  padding-top:60px;
}

#bottom {
  min-height: 10px;
  max-height: 10px;
}

#back {
  padding-left:200px;
}


